@font-face {
    font-family: Calibre;
    src: url(../fonts/calibre-normal-normal.woff);
}

@font-face {
    font-family: Calibre-bold;
    src: url(../fonts/calibre-bold-normal.woff);
}

@font-face {
    font-family: Calibre-light;
    src: url(../fonts/calibre-light-normal.woff);
}


h1 {

}
.header-one {
  font-family: Calibre-bold;
    font-size: 3em;
  color: #000;
}


/* ------NAV------- */

.hero-head {
  margin-top: 8%;
  margin-bottom: 3%;
  font-size: 2.5em;
  font-family: Calibre-bold;
  font-weight: 700;
}

/* ------HOME BANNER------- */

.banner-home {
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5)), url('../img/home-banner.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
}

.banner-home p{
  font-family: Calibre;
  position: relative;
  margin-left: 3%;
  margin-top: 36%;
  font-size: 1.5em;
  color: #fff;
  font-weight: 500;
}


.section-sixty-size {
  margin-top: 40px;
  margin-left: -15px;
}

.section-sixty-size p{
  font-family: Calibre;
  font-size: 1.25em;
}

.section-sixty-size h4 {
  font-family: Calibre;
  font-size: 1.25em;
}

.section-sixty-size img {
  width: 100%;
  height: 400px;
}

.section-full-size {
    margin-top: 40px;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5)), url('../img/insight-3.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
}

.section-full-size p {
  font-family: Calibre;
  position: relative;
  margin-left: 3%;
  margin-top: 27%;
  font-size: 1.5em;
  color: #fff;
  font-weight: 500;
}

.footer-section {
  width: 100%;
  background-color: #ebe8e9;
  padding-bottom: 35px;
  padding-top: 60px;
  font-family: Calibre-light, Helvetica,Arial,sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 22px;
}

.footer-section ul, ol {
  list-style: none;
}

.footer-newsletter {

}

.footer-links>li> a {
  text-decoration: none;
  font
}

.footer-links>li> a:hover {
  text-decoration: none;
  font-color: red;
}

.footer-contacts {
  font-family: Calibre-light
}

.footer-copyright {
  background-color: #cdc5c8;
  text-align: center;
  padding: 20px;
  font-family: Calibre-light;
  font-size: 1.3em;
}

.newsletter-sign-up-email {
  font-family: "Tiempos 400 italic", Times New Roman,Times New Roman,Times,Baskerville,Georgia,serif;
    font-style: italic;
    font-weight: 400;
    background-color: #fff;
    font-size: 15px;
    height: 40px;
    padding: 0 55px 0 15px;
    width: 70%;
}

.newsletter-sign-up-title {
    font-family: "Calibre 600 normal", Helvetica,Arial,san-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 32px;
    margin-bottom: 15px;
}

.newsletter-sign-up-submit {
  background-color: #000;
  cursor: pointer;

}
.newsletter-sign-up-submit :hover {
  background-color: #ed5240;
}

.footer-social {
  padding: 10px;
  margin-top: 2%;
}

.social-icons {
  width: 30px;
  height: 30px;
  background-color: #000;
  padding: 10px;
  border-radius: 100%;
  cursor: pointer;
}

.social-icons :hover {
  max-width: 30px;
  max-height: 30px;
  background-color: #ed5240;
  border-radius: 50%;
}


/**ABOUT US PAGE**/

.about {

}

.about p {
  text-align: justify;
  font-family: Calibre-light;
  font-size: 1.25em;
}

.about h4 {
  font-size: 1em;
}
